<div class="container row">
    <div class="col-5 mt-3">
        <h3>Package information:</h3>

        <form [formGroup]="parcelForm" class="row mb-3" (ngSubmit)="parcelForm.valid && getCourierPrices()"
            autocomplete="off">

            <div>
                <span class="fw-bold">Weight in kg: {{parcelForm.get('weight')?.value}}</span>
                <mat-slider class="w-100" min="1" max="30" color="accent" discrete="true">
                    <input matSliderThumb [formControl]="$any(parcelForm.controls['weight'])">
                </mat-slider>
            </div>

            <div class="row mt-2">
                <div>
                    <span class="fw-bold">{{parcelForm.get('height')?.value}} x
                        {{parcelForm.get('width')?.value}} x
                        {{parcelForm.get('depth')?.value}} cm³</span>
                </div>
                <div class="col-4">
                    <app-text-input [formControl]="$any(parcelForm.controls['height'])"
                        [label]="'Height'"></app-text-input>
                </div>
                <div class="col-4">
                    <app-text-input [formControl]="$any(parcelForm.controls['width'])"
                        [label]="'Width'"></app-text-input>
                </div>
                <div class="col-4">
                    <app-text-input [formControl]="$any(parcelForm.controls['depth'])"
                        [label]="'Depth'"></app-text-input>
                </div>
            </div>

            <div class="row" *ngIf="validationErrors">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">{{error}}</li>
                </ul>
            </div>
        </form>
    </div>
    <div class="col-2 d-flex justify-content-center">
        <div class="border"></div>
    </div>
    <div class="col-4 mt-3">
        <h3>Couriers prices:</h3>
        <app-courier-list *ngIf="this.parcelForm.valid" [couriers]="couriers"
            [parcel]="parcelForm.value"></app-courier-list>
    </div>

</div>